.b1{
  margin-left:10px;
  border-radius: 5%;
  background-color: rgb(66, 129, 237);
  color:white;
  padding: 15px 32px;
  font-size: small;
}
.d1{
  display: flex;
  flex-direction: column;
  width:20%;
}
.i1{
  padding: 19px 32px;
  margin-bottom: 15px;
  font-size: large;
}
.p1{
  font-size: 25px;
  font-weight: 500;
}